<div class="container">
    <div class="jumbotron">
        <div class="text-center">
            <h1>
                Create Account
            </h1>
        </div>
        <hr>
        <div>
            User name:
            <input id="user_name_create">
        </div>
        <div>
            Password:
            <input id="password_create">
        </div>
        <div>
            Phone:
            <input id="phone_create">
        </div>
        <div>
            link to image:
            <input id="img_create">
        </div>
        <hr>
        <div>
           <a class="btn btn-secondary" href="/" role="button">Back</a>
          <button type="button" class="btn btn-primary" id="createAccount">Create</button>
        </div>
    </div>
</div>