<div class="container">
    <!--title-->
    <div class="row">
        <div class="col-md-12">
            <h1>Dashboard</h1>
        </div>
    </div>
    <!--Profile pic and username-->
<div class="row">
    <div class="col-md-4">
            <img src="{{imgURL}}" class="rounded float-left dashPic" >
    </div>
    
    <div class="col-md-8">
        <h3>{{name}}</h3>
    </div>
</div>
</div>

<!--Due Now row-->
<div class="row">
    <div class="col-md-6">
        <h5><strong></strong>Due Now</strong></h5>
        <h6>{{dueNow}}</h6>
    </div>

    <div class="col-md-6">
            <button type="button" class="btn btn-info details">Details</button>

            <button type="button" class="btn btn-success completed">Completed</button>

            <button type="button" class="btn btn-primary sms">SMS</button>

            <button type="button" class="btn btn-danger remove">Remove</button>
    </div>
</div>

<!--Google places and friends schedules-->
<div class=row>
        <div class="col-md-6">
<div id="googleAPI">

</div>
         </div>

         <div class="col-md-6">
             <p><strong>Friend's Schedules</strong></p>
            
             <div class="friendContainer">
                 Append friends + activity + SMS button here
             </div>
         </div>

</div>

<!--Upcoming schedules-->

<div class="row">
    <div class="col-md-12"> 
        <h5>Upcoming</h5>
        append rest of schedules + all buttons here
    </div>
</div>

<!--add task and friend lookup--> 

<div class="row">
    <div class="col-md-6">
<button type="button" class="btn btn-primary addTask" data-target="#addTaskModal" data-whatever="NewTask">Add Task</button> 
    </div>

    <div class="col-md-6">
            <div class="search-container">
                    <form action="/action_page.php">
                      <input type="text" placeholder="Search Friends.." name="search">
                      <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
    </div>
</div>

<!--POP UPS-->
<!--ADD TASK POP-UPS (MODALS)-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="newTaskModalLabel">New Task</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="name" class="col-form-label">Name</label>
                  <input type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                  <label for="details" class="col-form-label">Details</label>
                  <textarea class="form-control" id="details"></textarea>
                </div>
                <div class="form-group">
                        <label for="location" class="col-form-label">Location</label>
                        <input type="text" class="form-control" id="Location">
                      </div>
                      <div class="form-group">
                            <label for="deadline" class="col-form-label">Deadline</label>
                            <input type="text" class="form-control" id="deadline">
                          </div>
                          <div class="form-group">
                                <label for="category" class="col-form-label">Category</label>
                                <input type="text" class="form-control" id="category">
                              </div>

                              <select id="difficulty">
                                    <option value="" disabled selected>Select your option</option>
                                    <option value=""></option>
                                    <option value="1">1 (Easy)</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10 (Hard)</option>
                                  </select>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Add Task</button>
            </div>
          </div>
        </div>
      </div>