<div class="container" id="#index">
  <div class="jumbotron jumbo_text">
    <div class="text-center">
      <h1>Robo Planner</h1>
    </div>
    <div class="text-center">
      <p>Personal planner powered by machine learning. Accesible on any device anywhere.</p>
    </div>
    <hr>
    <div class="text-center">
      <button type="button" class="btn btnh btn-primary" data-toggle="modal" data-target="#sign_in_modal">
        Sign in
      </button>
      <a class="btn btn-primary btnh button_signin" href="/register" role="button">Create Account</a>
    </div>
  </div>
</div>
<div class="modal fade" id="sign_in_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sign in</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-backdrop ">
        <div>
          Username
          <div class="col-sm-3">
            <input id="user_name">
          </div>
        </div>
        <div>
          Password
          <div class="col-sm-3">
            <input type="password" id="password">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button onClick="login()" type="button" class="btn btn-primary" id="signInPage">Sign In</button>
      </div>
    </div>
  </div>
</div>

<script>
  function login() {
    var username = $('#user_name').val().trim();
    var password = $('#password').val().trim();

    var url = '/api/login'

    var data = {
      username: username,
      password: password
    }

    $.ajax({
      type: "POST",
      url: url,
      data: data,
      success: function (response) {
        localStorage.setItem('token', response.token);
        $.ajax('/auth', {
          type: 'GET',
          beforeSend: function (xhr) {
            /* Authorization header */
            xhr.setRequestHeader("Authorization", "Basic " + localStorage.getItem('token'));
          },
          success: function (r) {
            window.location.href = "/dashboard";
          },
        });
      }
    })
  }
</script>